.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgWrapper img {
  width: 100%;
  max-width: 450px;
}
:global(.swiper-button-next),
:global(.swiper-button-prev) {
  color: black;
}
:global(.swiper-pagination-bullet) {
  background-color: black;
  width: 20px;
  height: 20px;
}
