.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 4%;
  border: solid red 1px;
}
.nav {
  font-size: 13px;
  font-weight: bold;
}
.nav a {
  color: black;
}
.nav a:hover {
  color: rgb(239, 80, 107);
}
.nav :nth-child(1),
.nav :nth-child(2) {
  text-decoration: underline;
  text-underline-offset: 6px;
}
.productContainer {
  border: solid 2px green;
  display: flex;
  justify-content: space-around;
}
.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: solid yellow 1px;
  /* max-width: 400px; */
}
.imgWrapper img {
  width: 100%;
  max-width: 450px;
}
.productInfos {
  width: 50%;
  /* flex: 1; */
  border: solid red 1px;
}
