* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  /* background-color: rgb(33, 34, 41); */
  background-color: #728156;
}
/* root styles */
/* #root {
  min-height: 100vh;
  font-family: "Press Start 2P", Arial, Helvetica Neue, Helvetica, sans-serif;
  background-image: url("/public/imgs/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  image-rendering: auto;
} */

/* header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  gap: 10px;
  padding: 10px 5%;
  border: 1px solid red;
  height: 60px;
}
/* logo styles */
.logo-icon {
  width: 50px;
}
/* nav bar container styles */
.nav-bar-container {
  border: 1px solid rgb(124, 77, 77);
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
}
.nav-bar-container button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.4s ease;
  border: none;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 50px;
  height: 35px;
  transition: 0.3s;
}
.nav-bar-container button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}

/* form styles */
.input {
  /* font-size: 0.9rem; */
  /* background-color: transparent; */
  width: 100%;
  height: 40px;
  border: none;
  /* background-color: red; */
  /* border-bottom: var(--border-height) solid var(--border-before-color); */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.input-border {
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  /* transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
}
.input:focus {
  outline: none;
}
.input:focus + .input-border {
  /* width: 100%; */
}
.form-container {
  position: relative;
  width: 30%;
  /* --width-of-input: 300px; */
}
.input-alt {
  font-size: 1.1rem;
  padding-inline: 1em;
  padding-block: 0.8em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.input-border-alt {
  height: 3px;
  background: linear-gradient(90deg, #ff6464 0%, #ffbf59 50%, #47c9ff 100%);
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.input-alt:focus + .input-border-alt {
  width: 100%;
}
/* .input-alt:hover + .input-border-alt {
  width: 100%;
} */
