* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(
    98deg,
    rgba(196, 159, 161, 1) 7%,
    rgba(203, 180, 182, 1) 41%,
    rgba(255, 255, 255, 1) 100%
  );
}
/* root styles */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* nav bar container styles */
.nav-bar-container {
  border: 1px solid rgb(124, 77, 77);
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
  background-color: red;
}
.nav-bar-container button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.4s ease;
  border: none;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 50px;
  height: 35px;
  transition: 0.3s;
}
.nav-bar-container button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
