* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  /* background-color: white; */
  /* background-color: rgb(33, 34, 41); */
  /* background-color: #728156; */
}
/* root styles */
/* #root {
  min-height: 100vh;
  font-family: "Press Start 2P", Arial, Helvetica Neue, Helvetica, sans-serif;
  background-image: url("/public/imgs/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  image-rendering: auto;
} */

/* header styles */
.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  transition: transform 0.35s ease;
}
.header-container.animated {
  transform: translateY(50%);
}
.header-container.scrolled {
  display: flex;
  justify-self: center;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  min-width: 30%;
  border: solid 1px green;
  height: 55px;
  border-radius: 10px;

  background: inherit;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transition: all 1s ease;
  border: none;
  outline: none;
}
.header-main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #e7f5dc;
}
.scrolled .header-main {
  background-color: inherit;
  margin-right: -15px;
}
.header-logo {
  width: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scrolled .header-logo {
  display: none;
}
.header-icons-wrapper {
  position: relative;
  display: flex;
  gap: 15px;
  margin: 35px;
}
.scrolled .header-icons-wrapper {
  display: flex;
  gap: 10px;
}
.header-icons {
  font-size: 25px;
  cursor: pointer;
  transition: transform 200ms;
}
.scrolled .header-icons {
  font-size: 22px;
}
.scrolled .header-icons > button {
  width: 20px;
  height: 20px;
}
.header-icons:hover {
  text-shadow: none;
  transform: translateY(-10%);
}
.header-icons > button {
  position: absolute;
  bottom: 18px;
  right: -15px;
  font-size: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: rgb(0, 0, 0, 0.85);
  color: white;
  cursor: pointer;
}
.nav-container {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50px;
}
.scrolled .nav-container {
  background-color: inherit;
  color: black;
  width: 100%;
  margin-left: 10px;
  justify-content: space-around;
}
.nav-container a {
  color: whitesmoke;
  font-size: 12px;
}
.scrolled .nav-container a {
  color: black;
  font-weight: bold;
}
.nav-container > a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
@keyframes project-pop-up {
  from {
    opacity: 0;
    transform: translateY(100%) rotate(10deg);
  }
  to {
    opacity: 1;
    transform: translateY(0%) rotate(0);
  }
}

.fa-regular,
.fa-cart-arrow-down {
  /* width: 50px; */
  /* color: red; */
}
/* nav bar container styles */
.nav-bar-container {
  border: 1px solid rgb(124, 77, 77);
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
}

.nav-bar-container button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: background-color 0.4s ease;
  border: none;
  background-color: #f3f7fe;
  color: #3b82f6;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 50px;
  height: 35px;
  transition: 0.3s;
}
.nav-bar-container button:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}
/* search bar container styles */
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.search-bar-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 4% 2%;
  max-width: 50%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  right: 0%;
  background-color: white;
  box-shadow: 0px 10px 10px black;
  animation: none;
  /* z-index: 2000; */
}
.search-close {
  font-size: 25px;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 10px;
}
.search-close:hover {
  color: yellow;
}
.search-title {
  text-decoration: underline;
}
.search-bar-container.slide-in {
  animation: slide-in 500ms;
}
.search-bar-container.slide-out {
  animation: slide-out 500ms;
}
.search-input {
  background-color: #dadada;
  padding: 2%;
  font-weight: bold;
  border: none;
  outline: none;
}
.search-input:focus {
  border: solid 1px black;
}
.searched-products-container {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #333 #f5f5f5;
}
.searched-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 5%;
  border-bottom: solid 2px rgb(231, 231, 231);
  text-decoration: none;
}
.searched-product:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
.searched-product-img {
  width: 80px;
}
.searched-product-title {
  font-weight: bold;
}
.searched-product-price {
  font-weight: bold;
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: black;
}
/* search nav container animations */
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

/* categories container styles */
.categories-container {
  border: solid 5px red;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.category-card {
  border: red solid 2px;
  text-decoration: none;
  color: inherit;
}
.category-card img {
  width: 250px;
}
/* product page styles */
/*  */
.product-container {
  /* display: flex; */
  border: solid 1px red;
}
.product img {
  width: 250px;
  border: 1px solid green;
}

/* category shop products container styles */
.images-slider-container {
  /* display: flex; */
  width: 250px;
  border: red solid 1px;
  /* width: 50%; */
}
.images-slider-container img {
  display: flex;
  width: 250px;
}

/* images styles */
/* 
// transition: .3s
// linear;

// .img-wrapper img:hover {
//     transform: scale(1.025);
// }
// .banner-img {
//     object-fit: cover;
//     object-position: center;
//     width: 100%;
//     height: 100%;
//     filter: grayscale(100%) brightness(105%) contrast(105%);
//     transition: opacity .3s;
// } */
